Repository hickatheworld/mosus, pull requests merged in 2022-09, with the labels that each got.

#1 FR spelling mistakes
  i18n/general/fr.json
Labels: i18n, lang: fr

#2 Rework of the points function
  src/lib/endGame.ts
Labels: enhancement

#4 🩹 Prevent i18n errors
  src/lib/i18n.ts
Labels: enhancement, i18n

#5 Anti-cheat
  src/events/messageCreate.ts
Labels: enhancement, core
